# Pandas Tutorial: Data analysis with Python: Part 1

https://www.dataquest.io/blog/pandas-python-tutorial/

Dataset: https://www.kaggle.com/egrinstein/20-years-of-games

In [3]:
import pandas as pd

reviews = pd.read_csv("ign.csv")
#returns 5 records by default
print(reviews.head())
# returns number of rows and columns
print(reviews.shape)

   Unnamed: 0 score_phrase                                              title  \
0           0      Amazing                            LittleBigPlanet PS Vita
1           1      Amazing  LittleBigPlanet PS Vita -- Marvel Super Hero E...
2           2        Great                               Splice: Tree of Life
3           3        Great                                             NHL 13
4           4        Great                                             NHL 13

                                                 url          platform  score  \
0             /games/littlebigplanet-vita/vita-98907  PlayStation Vita    9.0
1  /games/littlebigplanet-ps-vita-marvel-super-he...  PlayStation Vita    9.0
2                          /games/splice/ipad-141070              iPad    8.5
3                      /games/nhl-13/xbox-360-128182          Xbox 360    8.5
4                           /games/nhl-13/ps3-128181     PlayStation 3    8.5

        genre editors_choice  release_year  release_month  release_day
0  Platformer              Y          2012              9           12
1  Platformer              Y          2012              9           12
2      Puzzle              N          2012              9           12
3      Sports              N          2012              9           11
4      Sports              N          2012              9           11
(18625, 11)

## Indexing using numbers

### The iloc method allows us to retrieve rows and columns by position.

In [6]:
#return rows from 0-5. First row is 0
print(reviews.iloc[0:5,:])

   Unnamed: 0 score_phrase                                              title  \
0           0      Amazing                            LittleBigPlanet PS Vita
1           1      Amazing  LittleBigPlanet PS Vita -- Marvel Super Hero E...
2           2        Great                               Splice: Tree of Life
3           3        Great                                             NHL 13
4           4        Great                                             NHL 13

                                                 url          platform  score  \
0             /games/littlebigplanet-vita/vita-98907  PlayStation Vita    9.0
1  /games/littlebigplanet-ps-vita-marvel-super-he...  PlayStation Vita    9.0
2                          /games/splice/ipad-141070              iPad    8.5
3                      /games/nhl-13/xbox-360-128182          Xbox 360    8.5
4                           /games/nhl-13/ps3-128181     PlayStation 3    8.5

        genre editors_choice  release_year  release_month  release_day
0  Platformer              Y          2012              9           12
1  Platformer              Y          2012              9           12
2      Puzzle              N          2012              9           12
3      Sports              N          2012              9           11
4      Sports              N          2012              9           11

In [14]:
#return 5 rows and 1 column
print(reviews.iloc[0:5,0:1])

   Unnamed: 0
0           0
1           1
2           2
3           3
4           4

In [15]:
# return the first 5 rows, and all of the columns for those rows.
print(reviews.iloc[:5,:])

   Unnamed: 0 score_phrase                                              title  \
0           0      Amazing                            LittleBigPlanet PS Vita
1           1      Amazing  LittleBigPlanet PS Vita -- Marvel Super Hero E...
2           2        Great                               Splice: Tree of Life
3           3        Great                                             NHL 13
4           4        Great                                             NHL 13

                                                 url          platform  score  \
0             /games/littlebigplanet-vita/vita-98907  PlayStation Vita    9.0
1  /games/littlebigplanet-ps-vita-marvel-super-he...  PlayStation Vita    9.0
2                          /games/splice/ipad-141070              iPad    8.5
3                      /games/nhl-13/xbox-360-128182          Xbox 360    8.5
4                           /games/nhl-13/ps3-128181     PlayStation 3    8.5

        genre editors_choice  release_year  release_month  release_day
0  Platformer              Y          2012              9           12
1  Platformer              Y          2012              9           12
2      Puzzle              N          2012              9           12
3      Sports              N          2012              9           11
4      Sports              N          2012              9           11

In [16]:
#the entire DataFrame.
print(reviews.iloc[:,:])

       Unnamed: 0 score_phrase  \
0               0      Amazing
1               1      Amazing
2               2        Great
3               3        Great
4               4        Great
5               5         Good
6               6        Awful
7               7      Amazing
8               8        Awful
9               9         Good
10             10         Good
11             11         Good
12             12         Good
13             13      Amazing
14             14      Amazing
15             15         Okay
16             16         Okay
17             17        Great
18             18     Mediocre
19             19         Good
20             20         Good
21             21         Good
22             22         Good
23             23         Good
24             24      Amazing
25             25         Good
26             26      Amazing
27             27         Good
28             28        Great
29             29         Okay
...           ...          ...
18595       18595          Bad
18596       18596         Okay
18597       18597          Bad
18598       18598         Okay
18599       18599         Good
18600       18600         Good
18601       18601         Good
18602       18602         Good
18603       18603         Good
18604       18604        Great
18605       18605         Okay
18606       18606         Okay
18607       18607         Good
18608       18608     Mediocre
18609       18609        Great
18610       18610         Okay
18611       18611     Mediocre
18612       18612         Good
18613       18613        Great
18614       18614      Amazing
18615       18615      Amazing
18616       18616         Good
18617       18617        Great
18618       18618      Amazing
18619       18619         Good
18620       18620         Good
18621       18621      Amazing
18622       18622     Mediocre
18623       18623  Masterpiece
18624       18624  Masterpiece

                                                   title  \
0                                LittleBigPlanet PS Vita
1      LittleBigPlanet PS Vita -- Marvel Super Hero E...
2                                   Splice: Tree of Life
3                                                 NHL 13
4                                                 NHL 13
5                              Total War Battles: Shogun
6                                    Double Dragon: Neon
7                                           Guild Wars 2
8                                    Double Dragon: Neon
9                              Total War Battles: Shogun
10                               Tekken Tag Tournament 2
11                               Tekken Tag Tournament 2
12                                            Wild Blood
13                                     Mark of the Ninja
14                                     Mark of the Ninja
15                       Home: A Unique Horror Adventure
16                       Home: A Unique Horror Adventure
17                                   Avengers Initiative
18                                  Way of the Samurai 4
19                           JoJo's Bizarre Adventure HD
20                           JoJo's Bizarre Adventure HD
21                              Mass Effect 3: Leviathan
22                              Mass Effect 3: Leviathan
23                              Mass Effect 3: Leviathan
24                   Dark Souls (Prepare to Die Edition)
25                                              Symphony
26                                               Bastion
27                     Tom Clancy's Ghost Recon Phantoms
28                              Thirty Flights of Loving
29                                             Legasista
...                                                  ...
18595                                       Ghostbusters
18596                                         Necropolis
18597                                      7 Days to Die
18598                                               Furi
18599                                         Pokemon Go
18600                                  Hitman: Episode 4
18601                                  Hitman: Episode 4
18602                                  Hitman: Episode 4
18603                                            Grow Up
18604                                      Madden NFL 17
18605                                       No Man's Sky
18606    Starcraft II: Nova Covert Ops -- Mission Pack 2
18607                                         Pokemon Go
18608                            Carmageddon: Max Damage
18609                         Monster Hunter Generations
18610                                   Song of the Deep
18611           Tom Clancy's The Division -- Underground
18612                                         BoxBoxBoy!
18613                           XCOM 2: Shen's Last Gift
18614                                  Zero Time Dilemma
18615                                  Zero Time Dilemma
18616  Batman: The Telltale Series -- Episode 1: Real...
18617                                               Abzu
18618                                          Starbound
18619                                    Human Fall Flat
18620                          Tokyo Mirage Sessions #FE
18621                  LEGO Star Wars: The Force Awakens
18622            Star Ocean: Integrity and Faithlessness
18623                                             Inside
18624                                             Inside

                                                     url          platform  \
0                 /games/littlebigplanet-vita/vita-98907  PlayStation Vita
1      /games/littlebigplanet-ps-vita-marvel-super-he...  PlayStation Vita
2                              /games/splice/ipad-141070              iPad
3                          /games/nhl-13/xbox-360-128182          Xbox 360
4                               /games/nhl-13/ps3-128181     PlayStation 3
5             /games/total-war-battles-shogun/mac-142565         Macintosh
6              /games/double-dragon-neon/xbox-360-131320          Xbox 360
7                          /games/guild-wars-2/pc-896298                PC
8                   /games/double-dragon-neon/ps3-131321     PlayStation 3
9              /games/total-war-battles-shogun/pc-142564                PC
10             /games/tekken-tag-tournament-2/ps3-124584     PlayStation 3
11        /games/tekken-tag-tournament-2/xbox-360-124581          Xbox 360
12                       /games/wild-blood/iphone-139363            iPhone
13       /games/mark-of-the-ninja-135615/xbox-360-129276          Xbox 360
14             /games/mark-of-the-ninja-135615/pc-143761                PC
15     /games/home-a-unique-horror-adventure/mac-2001...         Macintosh
16       /games/home-a-unique-horror-adventure/pc-137135                PC
17              /games/avengers-initiative/iphone-141579            iPhone
18                 /games/way-of-the-samurai-4/ps3-23516     PlayStation 3
19        /games/jojos-bizarre-adventure/xbox-360-137717          Xbox 360
20             /games/jojos-bizarre-adventure/ps3-137896     PlayStation 3
21        /games/mass-effect-3-leviathan/xbox-360-138918          Xbox 360
22             /games/mass-effect-3-leviathan/ps3-138915     PlayStation 3
23              /games/mass-effect-3-leviathan/pc-138919                PC
24     /games/dark-souls-prepare-to-die-edition/pc-13...                PC
25                             /games/symphony/pc-136470                PC
26                            /games/bastion/ipad-140874              iPad
27       /games/tom-clancys-ghost-recon-online/pc-109114                PC
28             /games/thirty-flights-of-loving/pc-138374                PC
29                           /games/legasista/ps3-127147     PlayStation 3
...                                                  ...               ...
18595          /games/ghostbusters-the-movie/pc-20052317                PC
18596                      /games/necropolis/pc-20030346                PC
18597             /games/7-days-to-die/xbox-one-20051934          Xbox One
18598                            /games/furi/pc-20044439                PC
18599                 /games/pokemon-go/android-20042698           Android
18600                /games/hitman-episode-4/pc-20051637                PC
18601               /games/hitman-episode-4/ps4-20051638     PlayStation 4
18602          /games/hitman-episode-4/xbox-one-20051639          Xbox One
18603                         /games/grow-up/pc-20054824                PC
18604                /games/madden-nfl-2017/ps4-20052738     PlayStation 4
18605                    /games/no-mans-sky/ps4-20009696     PlayStation 4
18606  /games/starcraft-ii-nova-covert-ops-mission-pa...                PC
18607                  /games/pokemon-go/iphone-20042699            iPhone
18608           /games/carmageddon-max-damage/ps4-110143     PlayStation 4
18609     /games/monster-hunter-generations/3ds-20037986      Nintendo 3DS
18610               /games/song-of-the-deep/ps4-20048663     PlayStation 4
18611  /games/tom-clancys-the-division-underground/xb...          Xbox One
18612                      /games/boxboxboy/3ds-20055707      Nintendo 3DS
18613          /games/xcom-2-shens-last-gift/pc-20055520                PC
18614                /games/zero-time-dilemma/3ds-163737      Nintendo 3DS
18615             /games/zero-time-dilemma/vita-20039757  PlayStation Vita
18616  /games/batman-the-telltale-series-episode-1-re...                PC
18617                           /games/abzu/ps4-20019841     PlayStation 4
18618                    /games/starbound-2016/pc-128879                PC
18619                 /games/human-fall-flat/pc-20051928                PC
18620  /games/fire-emblem-x-shin-megami-tensei/wii-u-...             Wii U
18621  /games/lego-star-wars-the-force-awakens/ps4-20...     PlayStation 4
18622                   /games/star-ocean-5/ps4-20035681     PlayStation 4
18623             /games/inside-playdead/xbox-one-121435          Xbox One
18624                 /games/inside-playdead/pc-20055740                PC

       score               genre editors_choice  release_year  release_month  \
0        9.0          Platformer              Y          2012              9
1        9.0          Platformer              Y          2012              9
2        8.5              Puzzle              N          2012              9
3        8.5              Sports              N          2012              9
4        8.5              Sports              N          2012              9
5        7.0            Strategy              N          2012              9
6        3.0            Fighting              N          2012              9
7        9.0                 RPG              Y          2012              9
8        3.0            Fighting              N          2012              9
9        7.0            Strategy              N          2012              9
10       7.5            Fighting              N          2012              9
11       7.5            Fighting              N          2012              9
12       7.0                 NaN              N          2012              9
13       9.0   Action, Adventure              Y          2012              9
14       9.0   Action, Adventure              Y          2012              9
15       6.5           Adventure              N          2012              9
16       6.5           Adventure              N          2012              9
17       8.0              Action              N          2012              9
18       5.5   Action, Adventure              N          2012              9
19       7.0            Fighting              N          2012              9
20       7.0            Fighting              N          2012              9
21       7.5                 RPG              N          2012              8
22       7.5                 RPG              N          2012              8
23       7.5                 RPG              N          2012              8
24       9.0         Action, RPG              Y          2012              8
25       7.0             Shooter              N          2012              8
26       9.0         Action, RPG              Y          2012              8
27       7.5             Shooter              N          2012              8
28       8.0           Adventure              N          2012              8
29       6.5         Action, RPG              N          2012              8
...      ...                 ...            ...           ...            ...
18595    4.4              Action              N          2016              7
18596    6.5   Action, Adventure              N          2016              7
18597    4.9  Shooter, Adventure              N          2016              7
18598    6.8              Action              N          2016              7
18599    7.0              Battle              N          2016              7
18600    7.4             Shooter              N          2016              8
18601    7.4             Shooter              N          2016              8
18602    7.4             Shooter              N          2016              8
18603    7.8          Platformer              N          2016              8
18604    8.6              Sports              N          2016              8
18605    6.0           Adventure              N          2016              8
18606    6.4            Strategy              N          2016              8
18607    7.0              Battle              N          2016              7
18608    5.4      Racing, Action              N          2016              7
18609    8.0              Action              N          2016              7
18610    6.0           Adventure              N          2016              7
18611    5.8             Shooter              N          2016              7
18612    7.8              Puzzle              N          2016              7
18613    8.0            Strategy              N          2016              7
18614    9.2           Adventure              Y          2016              6
18615    9.2           Adventure              Y          2016              6
18616    7.5           Adventure              N          2016              8
18617    8.4           Adventure              N          2016              8
18618    9.1              Action              Y          2016              7
18619    7.9      Puzzle, Action              N          2016              7
18620    7.6                 RPG              N          2016              6
18621    9.0   Action, Adventure              Y          2016              6
18622    5.8                 RPG              N          2016              6
18623   10.0           Adventure              Y          2016              6
18624   10.0           Adventure              Y          2016              6

       release_day
0               12
1               12
2               12
3               11
4               11
5               11
6               11
7               11
8               11
9               11
10              11
11              11
12              10
13               7
14               7
15               6
16               6
17               5
18               3
19               3
20               3
21              31
22              31
23              31
24              31
25              30
26              30
27              29
28              29
29              28
...            ...
18595           16
18596           14
18597           13
18598           13
18599           13
18600           19
18601           19
18602           19
18603           18
18604           17
18605           16
18606            4
18607           13
18608           13
18609           12
18610           12
18611            6
18612            6
18613            1
18614           29
18615           29
18616            2
18617            2
18618           28
18619           28
18620           29
18621           29
18622           28
18623           28
18624           28

[18625 rows x 11 columns]

In [17]:
#rows from position 5 onwards, and columns from position 5 onwards.
print(reviews.iloc[5:,5:])

       score               genre editors_choice  release_year  release_month  \
5        7.0            Strategy              N          2012              9
6        3.0            Fighting              N          2012              9
7        9.0                 RPG              Y          2012              9
8        3.0            Fighting              N          2012              9
9        7.0            Strategy              N          2012              9
10       7.5            Fighting              N          2012              9
11       7.5            Fighting              N          2012              9
12       7.0                 NaN              N          2012              9
13       9.0   Action, Adventure              Y          2012              9
14       9.0   Action, Adventure              Y          2012              9
15       6.5           Adventure              N          2012              9
16       6.5           Adventure              N          2012              9
17       8.0              Action              N          2012              9
18       5.5   Action, Adventure              N          2012              9
19       7.0            Fighting              N          2012              9
20       7.0            Fighting              N          2012              9
21       7.5                 RPG              N          2012              8
22       7.5                 RPG              N          2012              8
23       7.5                 RPG              N          2012              8
24       9.0         Action, RPG              Y          2012              8
25       7.0             Shooter              N          2012              8
26       9.0         Action, RPG              Y          2012              8
27       7.5             Shooter              N          2012              8
28       8.0           Adventure              N          2012              8
29       6.5         Action, RPG              N          2012              8
30       9.0           Adventure              Y          2012              8
31       8.7                 RPG              Y          2012             10
32       4.9          Platformer              N          2012             10
33       9.6                 RPG              Y          2012             10
34       7.3              Action              N          2012             10
...      ...                 ...            ...           ...            ...
18595    4.4              Action              N          2016              7
18596    6.5   Action, Adventure              N          2016              7
18597    4.9  Shooter, Adventure              N          2016              7
18598    6.8              Action              N          2016              7
18599    7.0              Battle              N          2016              7
18600    7.4             Shooter              N          2016              8
18601    7.4             Shooter              N          2016              8
18602    7.4             Shooter              N          2016              8
18603    7.8          Platformer              N          2016              8
18604    8.6              Sports              N          2016              8
18605    6.0           Adventure              N          2016              8
18606    6.4            Strategy              N          2016              8
18607    7.0              Battle              N          2016              7
18608    5.4      Racing, Action              N          2016              7
18609    8.0              Action              N          2016              7
18610    6.0           Adventure              N          2016              7
18611    5.8             Shooter              N          2016              7
18612    7.8              Puzzle              N          2016              7
18613    8.0            Strategy              N          2016              7
18614    9.2           Adventure              Y          2016              6
18615    9.2           Adventure              Y          2016              6
18616    7.5           Adventure              N          2016              8
18617    8.4           Adventure              N          2016              8
18618    9.1              Action              Y          2016              7
18619    7.9      Puzzle, Action              N          2016              7
18620    7.6                 RPG              N          2016              6
18621    9.0   Action, Adventure              Y          2016              6
18622    5.8                 RPG              N          2016              6
18623   10.0           Adventure              Y          2016              6
18624   10.0           Adventure              Y          2016              6

       release_day
5               11
6               11
7               11
8               11
9               11
10              11
11              11
12              10
13               7
14               7
15               6
16               6
17               5
18               3
19               3
20               3
21              31
22              31
23              31
24              31
25              30
26              30
27              29
28              29
29              28
30              28
31               4
32               4
33               3
34               3
...            ...
18595           16
18596           14
18597           13
18598           13
18599           13
18600           19
18601           19
18602           19
18603           18
18604           17
18605           16
18606            4
18607           13
18608           13
18609           12
18610           12
18611            6
18612            6
18613            1
18614           29
18615           29
18616            2
18617            2
18618           28
18619           28
18620           29
18621           29
18622           28
18623           28
18624           28

[18620 rows x 6 columns]

In [24]:
#the first column, and all of the rows for the column.
print(reviews.iloc[:,0])
print(reviews.iloc[:,:1])

0            0
1            1
2            2
3            3
4            4
5            5
6            6
7            7
8            8
9            9
10          10
11          11
12          12
13          13
14          14
15          15
16          16
17          17
18          18
19          19
20          20
21          21
22          22
23          23
24          24
25          25
26          26
27          27
28          28
29          29
         ...
18595    18595
18596    18596
18597    18597
18598    18598
18599    18599
18600    18600
18601    18601
18602    18602
18603    18603
18604    18604
18605    18605
18606    18606
18607    18607
18608    18608
18609    18609
18610    18610
18611    18611
18612    18612
18613    18613
18614    18614
18615    18615
18616    18616
18617    18617
18618    18618
18619    18619
18620    18620
18621    18621
18622    18622
18623    18623
18624    18624
Name: Unnamed: 0, Length: 18625, dtype: int64
       Unnamed: 0
0               0
1               1
2               2
3               3
4               4
5               5
6               6
7               7
8               8
9               9
10             10
11             11
12             12
13             13
14             14
15             15
16             16
17             17
18             18
19             19
20             20
21             21
22             22
23             23
24             24
25             25
26             26
27             27
28             28
29             29
...           ...
18595       18595
18596       18596
18597       18597
18598       18598
18599       18599
18600       18600
18601       18601
18602       18602
18603       18603
18604       18604
18605       18605
18606       18606
18607       18607
18608       18608
18609       18609
18610       18610
18611       18611
18612       18612
18613       18613
18614       18614
18615       18615
18616       18616
18617       18617
18618       18618
18619       18619
18620       18620
18621       18621
18622       18622
18623       18623
18624       18624

[18625 rows x 1 columns]

In [26]:
#rows from position 5 onwards, and columns from position 5 onwards.
print(reviews.iloc[5:,5:])

       score               genre editors_choice  release_year  release_month  \
5        7.0            Strategy              N          2012              9
6        3.0            Fighting              N          2012              9
7        9.0                 RPG              Y          2012              9
8        3.0            Fighting              N          2012              9
9        7.0            Strategy              N          2012              9
10       7.5            Fighting              N          2012              9
11       7.5            Fighting              N          2012              9
12       7.0                 NaN              N          2012              9
13       9.0   Action, Adventure              Y          2012              9
14       9.0   Action, Adventure              Y          2012              9
15       6.5           Adventure              N          2012              9
16       6.5           Adventure              N          2012              9
17       8.0              Action              N          2012              9
18       5.5   Action, Adventure              N          2012              9
19       7.0            Fighting              N          2012              9
20       7.0            Fighting              N          2012              9
21       7.5                 RPG              N          2012              8
22       7.5                 RPG              N          2012              8
23       7.5                 RPG              N          2012              8
24       9.0         Action, RPG              Y          2012              8
25       7.0             Shooter              N          2012              8
26       9.0         Action, RPG              Y          2012              8
27       7.5             Shooter              N          2012              8
28       8.0           Adventure              N          2012              8
29       6.5         Action, RPG              N          2012              8
30       9.0           Adventure              Y          2012              8
31       8.7                 RPG              Y          2012             10
32       4.9          Platformer              N          2012             10
33       9.6                 RPG              Y          2012             10
34       7.3              Action              N          2012             10
...      ...                 ...            ...           ...            ...
18595    4.4              Action              N          2016              7
18596    6.5   Action, Adventure              N          2016              7
18597    4.9  Shooter, Adventure              N          2016              7
18598    6.8              Action              N          2016              7
18599    7.0              Battle              N          2016              7
18600    7.4             Shooter              N          2016              8
18601    7.4             Shooter              N          2016              8
18602    7.4             Shooter              N          2016              8
18603    7.8          Platformer              N          2016              8
18604    8.6              Sports              N          2016              8
18605    6.0           Adventure              N          2016              8
18606    6.4            Strategy              N          2016              8
18607    7.0              Battle              N          2016              7
18608    5.4      Racing, Action              N          2016              7
18609    8.0              Action              N          2016              7
18610    6.0           Adventure              N          2016              7
18611    5.8             Shooter              N          2016              7
18612    7.8              Puzzle              N          2016              7
18613    8.0            Strategy              N          2016              7
18614    9.2           Adventure              Y          2016              6
18615    9.2           Adventure              Y          2016              6
18616    7.5           Adventure              N          2016              8
18617    8.4           Adventure              N          2016              8
18618    9.1              Action              Y          2016              7
18619    7.9      Puzzle, Action              N          2016              7
18620    7.6                 RPG              N          2016              6
18621    9.0   Action, Adventure              Y          2016              6
18622    5.8                 RPG              N          2016              6
18623   10.0           Adventure              Y          2016              6
18624   10.0           Adventure              Y          2016              6

       release_day
5               11
6               11
7               11
8               11
9               11
10              11
11              11
12              10
13               7
14               7
15               6
16               6
17               5
18               3
19               3
20               3
21              31
22              31
23              31
24              31
25              30
26              30
27              29
28              29
29              28
30              28
31               4
32               4
33               3
34               3
...            ...
18595           16
18596           14
18597           13
18598           13
18599           13
18600           19
18601           19
18602           19
18603           18
18604           17
18605           16
18606            4
18607           13
18608           13
18609           12
18610           12
18611            6
18612            6
18613            1
18614           29
18615           29
18616            2
18617            2
18618           28
18619           28
18620           29
18621           29
18622           28
18623           28
18624           28

[18620 rows x 6 columns]

In [28]:
#the first column, and all of the rows for the column.
print(reviews.iloc[:,:1])
print(reviews.iloc[:,0])

       Unnamed: 0
0               0
1               1
2               2
3               3
4               4
5               5
6               6
7               7
8               8
9               9
10             10
11             11
12             12
13             13
14             14
15             15
16             16
17             17
18             18
19             19
20             20
21             21
22             22
23             23
24             24
25             25
26             26
27             27
28             28
29             29
...           ...
18595       18595
18596       18596
18597       18597
18598       18598
18599       18599
18600       18600
18601       18601
18602       18602
18603       18603
18604       18604
18605       18605
18606       18606
18607       18607
18608       18608
18609       18609
18610       18610
18611       18611
18612       18612
18613       18613
18614       18614
18615       18615
18616       18616
18617       18617
18618       18618
18619       18619
18620       18620
18621       18621
18622       18622
18623       18623
18624       18624

[18625 rows x 1 columns]
0            0
1            1
2            2
3            3
4            4
5            5
6            6
7            7
8            8
9            9
10          10
11          11
12          12
13          13
14          14
15          15
16          16
17          17
18          18
19          19
20          20
21          21
22          22
23          23
24          24
25          25
26          26
27          27
28          28
29          29
         ...
18595    18595
18596    18596
18597    18597
18598    18598
18599    18599
18600    18600
18601    18601
18602    18602
18603    18603
18604    18604
18605    18605
18606    18606
18607    18607
18608    18608
18609    18609
18610    18610
18611    18611
18612    18612
18613    18613
18614    18614
18615    18615
18616    18616
18617    18617
18618    18618
18619    18619
18620    18620
18621    18621
18622    18622
18623    18623
18624    18624
Name: Unnamed: 0, Length: 18625, dtype: int64

In [32]:
# the 10th row, and all of the columns for that row.
print(reviews.iloc[9,:])

score_phrase                                           Good
title                             Total War Battles: Shogun
url               /games/total-war-battles-shogun/pc-142564
platform                                                 PC
score                                                     7
genre                                              Strategy
editors_choice                                            N
release_year                                           2012
release_month                                             9
release_day                                              11
Name: 9, dtype: object

score_phrase                                           Good
title                             Total War Battles: Shogun
url               /games/total-war-battles-shogun/pc-142564
platform                                                 PC
score                                                     7
genre                                              Strategy
editors_choice                                            N
release_year                                           2012
release_month                                             9
release_day                                              11
Name: 9, dtype: object

In [31]:
#remove first column
reviews = reviews.iloc[:,1:]
reviews.head()

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

## Indexing using labels

### The loc method allows us to retrieve rows and columns by labels.

In [36]:
reviews.loc[0:5,:]

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
5,Good,Total War Battles: Shogun,/games/total-war-battles-shogun/mac-142565,Macintosh,7.0,Strategy,N,2012,9,11

In [37]:
# the difference between iloc and loc is that loc returns row labels instead of index. compare with example
reviews.iloc[0:5,:]

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [34]:
reviews.index

RangeIndex(start=0, stop=18625, step=1)

In [38]:
#Get row 10 to row 20 of reviews, and assign the result to some_reviews.
some_reviews = reviews.iloc[10:20,:]
some_reviews.head()

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
10,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/ps3-124584,PlayStation 3,7.5,Fighting,N,2012,9,11
11,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/xbox-360-124581,Xbox 360,7.5,Fighting,N,2012,9,11
12,Good,Wild Blood,/games/wild-blood/iphone-139363,iPhone,7.0,NaN,N,2012,9,10
13,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/xbox-360-129276,Xbox 360,9.0,"Action, Adventure",Y,2012,9,7
14,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/pc-143761,PC,9.0,"Action, Adventure",Y,2012,9,7

In [40]:
#specify column labels in the loc method to retrieve columns by label instead of by position.
reviews.loc[:5,"score"]

0    9.0
1    9.0
2    8.5
3    8.5
4    8.5
5    7.0
Name: score, dtype: float64

In [41]:
#more than one column at a time by passing in a list
reviews.loc[:5,["score", "release_year"]]

   score  release_year
0    9.0          2012
1    9.0          2012
2    8.5          2012
3    8.5          2012
4    8.5          2012
5    7.0          2012

In [43]:
#retrieve a whole column by label
reviews["score"]

0         9.0
1         9.0
2         8.5
3         8.5
4         8.5
5         7.0
6         3.0
7         9.0
8         3.0
9         7.0
10        7.5
11        7.5
12        7.0
13        9.0
14        9.0
15        6.5
16        6.5
17        8.0
18        5.5
19        7.0
20        7.0
21        7.5
22        7.5
23        7.5
24        9.0
25        7.0
26        9.0
27        7.5
28        8.0
29        6.5
         ...
18595     4.4
18596     6.5
18597     4.9
18598     6.8
18599     7.0
18600     7.4
18601     7.4
18602     7.4
18603     7.8
18604     8.6
18605     6.0
18606     6.4
18607     7.0
18608     5.4
18609     8.0
18610     6.0
18611     5.8
18612     7.8
18613     8.0
18614     9.2
18615     9.2
18616     7.5
18617     8.4
18618     9.1
18619     7.9
18620     7.6
18621     9.0
18622     5.8
18623    10.0
18624    10.0
Name: score, Length: 18625, dtype: float64

In [44]:
#lists of columns with this method
reviews[["score", "release_year"]]

       score  release_year
0        9.0          2012
1        9.0          2012
2        8.5          2012
3        8.5          2012
4        8.5          2012
5        7.0          2012
6        3.0          2012
7        9.0          2012
8        3.0          2012
9        7.0          2012
10       7.5          2012
11       7.5          2012
12       7.0          2012
13       9.0          2012
14       9.0          2012
15       6.5          2012
16       6.5          2012
17       8.0          2012
18       5.5          2012
19       7.0          2012
20       7.0          2012
21       7.5          2012
22       7.5          2012
23       7.5          2012
24       9.0          2012
25       7.0          2012
26       9.0          2012
27       7.5          2012
28       8.0          2012
29       6.5          2012
...      ...           ...
18595    4.4          2016
18596    6.5          2016
18597    4.9          2016
18598    6.8          2016
18599    7.0          2016
18600    7.4          2016
18601    7.4          2016
18602    7.4          2016
18603    7.8          2016
18604    8.6          2016
18605    6.0          2016
18606    6.4          2016
18607    7.0          2016
18608    5.4          2016
18609    8.0          2016
18610    6.0          2016
18611    5.8          2016
18612    7.8          2016
18613    8.0          2016
18614    9.2          2016
18615    9.2          2016
18616    7.5          2016
18617    8.4          2016
18618    9.1          2016
18619    7.9          2016
18620    7.6          2016
18621    9.0          2016
18622    5.8          2016
18623   10.0          2016
18624   10.0          2016

[18625 rows x 2 columns]

In [45]:
reviews[["score", "release_year"]]

       score  release_year
0        9.0          2012
1        9.0          2012
2        8.5          2012
3        8.5          2012
4        8.5          2012
5        7.0          2012
6        3.0          2012
7        9.0          2012
8        3.0          2012
9        7.0          2012
10       7.5          2012
11       7.5          2012
12       7.0          2012
13       9.0          2012
14       9.0          2012
15       6.5          2012
16       6.5          2012
17       8.0          2012
18       5.5          2012
19       7.0          2012
20       7.0          2012
21       7.5          2012
22       7.5          2012
23       7.5          2012
24       9.0          2012
25       7.0          2012
26       9.0          2012
27       7.5          2012
28       8.0          2012
29       6.5          2012
...      ...           ...
18595    4.4          2016
18596    6.5          2016
18597    4.9          2016
18598    6.8          2016
18599    7.0          2016
18600    7.4          2016
18601    7.4          2016
18602    7.4          2016
18603    7.8          2016
18604    8.6          2016
18605    6.0          2016
18606    6.4          2016
18607    7.0          2016
18608    5.4          2016
18609    8.0          2016
18610    6.0          2016
18611    5.8          2016
18612    7.8          2016
18613    8.0          2016
18614    9.2          2016
18615    9.2          2016
18616    7.5          2016
18617    8.4          2016
18618    9.1          2016
18619    7.9          2016
18620    7.6          2016
18621    9.0          2016
18622    5.8          2016
18623   10.0          2016
18624   10.0          2016

[18625 rows x 2 columns]

In [46]:
#A single column representing a Pandas Series object. 
#A DataFrame stores tabular data, but a Series stores a single column or row of data.
print(type(reviews["score"]))
print(type(reviews[["score", "release_year"]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [47]:
#To create a Series, we pass a list or NumPy array into the Series object when we instantiate it:
s1 = pd.Series([1,2])
s1

0    1
1    2
dtype: int64

In [48]:
s2 = pd.Series(["Boris Yeltsin", "Mikhail Gorbachev"])
s2

0        Boris Yeltsin
1    Mikhail Gorbachev
dtype: object

## Creating A DataFrame in Pandas

In [50]:
#create pandas from 2 series
pd.DataFrame([s1,s2])

               0                  1
0              1                  2
1  Boris Yeltsin  Mikhail Gorbachev

In [52]:
#different way with same result
pd.DataFrame(
    [
        [1,2],
        ["Boris Yeltsin", "Mikhail Gorbachev"]
    ]
)

               0                  1
0              1                  2
1  Boris Yeltsin  Mikhail Gorbachev

In [53]:
#specify column labels
pd.DataFrame(
    [
        [1,2],
        ["Boris Yeltsin", "Mikhail Gorbachev"]
    ],
    columns=["column1", "column2"]
)

         column1            column2
0              1                  2
1  Boris Yeltsin  Mikhail Gorbachev

In [54]:
#specify row labels
frame = pd.DataFrame(
    [
        [1,2],
        ["Boris Yeltsin", "Mikhail Gorbachev"]
    ],
    index=["row1", "row2"],
    columns=["column1", "column2"]
)
frame

            column1            column2
row1              1                  2
row2  Boris Yeltsin  Mikhail Gorbachev

In [55]:
# index the dataframe using labels
frame.loc["row1":"row2", "column1"]

row1                1
row2    Boris Yeltsin
Name: column1, dtype: object

In [56]:
#passing columns as a dictionary
frame = pd.DataFrame(
    {
        "column1": [1, "Boris Yeltsin"],
        "column2": [2, "Mikhail Gorbachev"]
    }
)
frame

         column1            column2
0              1                  2
1  Boris Yeltsin  Mikhail Gorbachev

In [57]:
#same methods apply on a Series object that we can on a DataFrame
reviews["title"].head()

0                              LittleBigPlanet PS Vita
1    LittleBigPlanet PS Vita -- Marvel Super Hero E...
2                                 Splice: Tree of Life
3                                               NHL 13
4                                               NHL 13
Name: title, dtype: object